/* section 3 */
.section3 {
  background-color: #7D6F5D;
  min-width: 1440px;
  height: 460px;
}
/* section 전체 묶음 */
.sectionBundle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 1222px;
  margin: 0 auto;
}
/* margin 병합으로 인해 박스에 마진을 넣었음 */
.review, .courseDownload {
  margin: 30px auto;
}
/* section 3-1 리뷰 */
.review {
  background: #282725 url(../images/Score.svg) no-repeat 95% 0 ; 
  width: 743px;
  height: 400px;
  position: relative;
}
/* 헤딩제목위 선 */
.reviewRating:before {
  content: "";
  border: 1px solid #7D6F5D;
  width: 40px;
  display: block;
  margin-bottom: 30px;
}

.reviewRating {
  padding-left: 90px;
  margin-top: 60px;
}

.reviewHead {
  display: inline-block;
  font-size: 2.4rem;
  color: #FFFCF9;
  margin: 0 0 10px 0;
}

.explanation {
  width: 485px;
  height: 75px;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
  text-align: left;
  line-height: 1.8;
  word-spacing: .1rem;
}


.reviewRating .reviewGrade {
  font-size: 2.2rem;
  color: #FFFCF9;
  margin: 19px 0 0;
}
.reviewGrade span {
  font-size: 2.8rem;
}
.reviewGrade span:nth-child(2) {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  margin-left: 15px;
}

.userName {
  font-weight: bold;
  font-size: 1.3rem;
  color: #FFFCF9;
  margin: 20px 0 0;
}
/* 재생버튼 */
.review button {
  position: absolute;
  background: url(../images/Play.svg) no-repeat 50% ;
  width: 40px;
  height: 40px;
  padding-top: 40px;
  margin: 20px 20px;
  overflow: hidden;
  border: none;
  bottom: 0;
  cursor: pointer;
}



/* section 3-2, 3-3 묶은 디비젼 */
.courseDownload {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 400px;
  width: 459px;
}

/* section 3-2 인기강좌 */
.favoriteCourse {
  position: relative;
  background-color: #FFFCF9;
  height: 220px;
}
.courseHeading {
margin: 0;
padding: 30px 0 0 24px;
font-size: 2.2rem;
font-weight: 700;
color: #7D6F5D;
}

.courseHeading span {
  font-size: 2.6rem;
}

.courseList {
  padding-left: 0;
  margin: 24px 35px 0;
  color: #7D6F5D;
}
.courseList li {
  position: relative;
  margin-top: 10px;

}
.courseList li a {
  display: block;
  margin-right: 25px;
}

.favoriteCourse > a img {
  border: 2px solid #E27762;
}
/* section 3-2 순위 변동 이미지 */
.courseList li em {
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 0;
  padding-top: 29px;
  overflow: hidden;
  margin-top: -5px;
}

.up {
  background: url(../images/increase.svg) no-repeat 50%;
}

.new {
  background: url(../images/new.svg) no-repeat 50%;
}

.down {
  background: url(../images/decrease.svg) no-repeat 50%;
}

.noChange {
  background: url(../images/same.svg) no-repeat 50%;
}

/* section 3-2 더보기 */
.favoriteCourse >  a {
  position: absolute;
  top: 34px;
  right: 25px;
}
.favoriteCourse > a img {
  width: 16px;
  height: 16px;
}

/* section 3-3 다운로드 */
.download {
  background-color: #E27762;
  position: relative;
  height: 160px;
}

.downloadHeading {
  display: inline-block;
  margin: 0;
}

.downloadHeading a{
  display: inline-block;
  margin: 25px;
  width: 122px;
  height: 68px;
  font-size: 3.1rem;
  text-align: center;
}
.download img {
  position: absolute;
  right: 0;
  top: -43px;
  
}
.download > a {
  background: url(../images/Up-Arrow-button.svg) no-repeat 0 0;
  transform: rotate(45deg);
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 33px;
  height: 0;
  padding-top: 33px;
  overflow: hidden;
}